/* HOME-BANNER */

.home_banner {
    display: flex;
    padding: 2rem 2.5rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-sky-beige);
}

.home_banner__right {    
    gap: 1rem;
}

.home_banner__left {
    gap: 2rem;
}

.home_banner__right, .home_banner__left {    
    display: flex;
    align-items: center;    
}

.home_banner__right button {
    border-color: var(--color-red);
    color: var(--color-red);    
    font-family: var(--font-kanit);
    font-weight: bold;
    font-size: 1rem;
}

.home_banner__right button:first-child {
    background-color: var(--color-red);
    color: var(--color-beige);
    transition: border-color .3s, background-color .3s;
}

.home_banner__right button:first-child:hover {
    background-color: var(--color-sky-red);
    border-color: var(--color-sky-red);
}

.home_banner__left img {
    width: 100%;
    height: 100%;
}

.home_banner__left .circle {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--color-red);
    border-radius: 50%;
    height: 4.8rem;
    width: 4.8rem;
    padding: 1rem;

}

.home_banner__left .text {
    font-weight: bold;
    font-size: 1.6rem;
    font-family: var(--font-bodoni);
    line-height: 2rem;
}

.home_banner__left .text span {
    display: block;
    font-weight: bolder;
    font-family: var(--font-kanit);
    letter-spacing: 1px;
    font-size: 2rem;
}

/* HOME-PLATES */

.home_plates {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: url('/icons/TexturaTopHome.6d927f9f.svg');
    background-repeat: no-repeat;
    padding: 3rem 4rem;
    background-color: var(--color-red);
    color: var(--color-beige);
}

.home_plates > h2 {
    font-size: 3.3rem;
    font-family: var(--font-kanit);
    margin: .5rem 0 .4rem;
}

.home_plates > p {
    font-family: var(--font-bodoni);
    font-size: 1.5rem;
}

.home_plates__contentBoxes {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    margin-top: 3rem;
    height: 45rem;    
}

.home_plates__left {
    width: 50%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.home_plates__left img {
    width: 100%;
    height: 100%;
    aspect-ratio: 259/334;
    object-fit: cover;
}

.home_plates__right {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px,1fr));    
    width: 50%;
    gap: 1.5rem;
    height: 100%;
}

.home_plates__box {
    background-color: white;
    color: black;    
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: .5rem;    
}

.home_plates__box .contImage {
    position: relative;
    height: 65%;
    width: 100%;
}

.home_plates__box .contImage:hover .secondary {
    opacity: 1;
}

.home_plates__box .secondary {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,.4);
}

.home_plates__box .secondary button{
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: var(--color-beige);
    font-size: 1rem;
    transition: background-color .3s, border-color .3s;
}

.home_plates__box .secondary button:hover {
    background-color: var(--color-sky-red);
    border-color: var(--color-sky-red);
}

.home_plates__box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home_plates__box section {
    padding: .8rem 1rem .5rem 1rem;
    text-align: start;    
    height: 35%;
}

.home_plates__box h3 {
    font-weight: bolder;
    font-family: var(--font-bodoni);
}

.home_plates__box p {        
    width: 100%;
    margin: .2rem 0 .7rem;
    display: -webkit-box;
    overflow: hidden;        
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;        
    -webkit-box-orient: vertical;   
}

.home_plates__box span {
    font-family: var(--font-bodoni);
    font-weight: bolder;
    color: var(--color-red);
    text-align: end;    
    display: block;
}

.home_plates > button {    
    margin-top: 3rem;
    border-color: var(--color-beige);
    color: var(--color-beige);
    font-size: 1rem;
}

/* HOME-COMUNITY */

.home_comunity {
    display: flex;
    gap: 3rem;
    width: 100%;
    background-color: #0A0A0A;    
    color: var(--color-beige);
    text-align: center;
    padding-top: 4rem;
    justify-content: center;
    background-image: url('/icons/iconCommunity.svg');
    background-repeat: no-repeat;
    background-position: -20% 0;
    overflow: hidden;
    height: 41rem;
}

.home_comunity__left > h2 {
    font-size: 2.6rem;
    font-weight: bolder;
    margin: .5rem 0;
}

.home_comunity__left > span {
    font-family: var(--font-kanit);
    font-weight: bold;
    font-size: 1.3rem;
}

.content_tiktok {
    width: 35rem;
    text-align: center;
    background-color: white;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1.5rem;
}

.content_tiktok__top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    color: black;
    align-items: center;
    margin-bottom: 1.3rem;
}

.content_tiktok__top > img {
    width: 5.2rem;
    height: 5.2rem;
}

.content_tiktok__top-info {
    text-align: start;
}

.content_tiktok__top-info strong {
    font-family: var(--font-bodoni);
    font-weight: bolder;
    font-size: 1.1rem;
}

.content_tiktok__top-info span {
    display: block;
    color: rgb(189, 189, 189);
}

.content_tiktok__top > button {
    background-color: #4192EF;
    padding: .2rem 1.5rem;
    font-family: var(--font-kanit);
    text-transform: capitalize;
    color: white;
    border-radius: .2rem;
    height: fit-content;
    font-size: .95rem;
}

.content_tiktok__videos {
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    gap: .5rem;    
}

.content_tiktok__video {
    border-radius: .3rem;
    overflow: hidden;
}

.content_tiktok__video > img {
    width: 100%;
    height: 100%;
    object-fit:  cover;
    aspect-ratio: 9/13;
}

.home_comunity__right {
    display: flex;
    gap: 1rem;
}

.tiktok_vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;;
    height: 40rem;
    width: 14rem;
}

.tiktok_vertical:nth-child(2) {
    transform: translateY(3rem);
}

.tiktok_vertical-box {
    border-radius: .3rem;
    overflow: hidden;
    width: 100%;    
}

.tiktok_vertical-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 9/28;
}

/* HOME-JOINGROUP */

.home_joinGroup {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 4rem;
    background-color: var(--color-sky-beige);
}

.home_joinGroup > img {
    width: 58%;
    border-radius: .4rem;
    overflow: hidden;
}

.home_joinGroup__info {
    text-align: start;
    width: 42%;
}

.home_joinGroup__info img {
    width: 2.5rem;
    height: 2.5rem;
}

.home_joinGroup__info h2 {
    font-size: 2.4rem;
    font-family: var(--font-bodoni);
    text-transform: uppercase;
    margin-top: 1rem;
}

.home_joinGroup__info p {        
    font-size: 1.1rem;
    font-weight: lighter;
    margin: 1rem 0 2rem;
}

.home_joinGroup__info a {
    border-color: var(--color-red);
    color: var(--color-red);
    margin: 0;    
}